.additionally {
  margin: 0;
  padding: 0;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
  }
}

.additionally__subtitle {
  padding: 0;
  background-color: $white;
  padding-right: 25px;
  padding-left: 20px;
  margin-left: -20px;

  &::before {
    content: "";
    z-index: -3;
    position: absolute;
    height: 2px;
    background-color: #68b736;
    left: 0;
    right: 0;
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 40px;

    &::before {
      margin-top: 20px;
    }
  }

  .additionally__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $black;
    margin-left: 23px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 23px;
    }
  }

  .additionally__label:active {
    opacity: 0.3;
  }

  .additionally__list {
    list-style: none;
    padding: 0;
    margin-top: 39px;
    margin-bottom: 40px;
    margin-left: 23px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 60px;
      grid-row-gap: 20px;
      grid-column-gap: 93px;
      margin-left: 37px;
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin: 0;
      display: grid;
      margin-left: 37px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 117px;
      margin-top: 63px;
      margin-bottom: 0;
      padding-bottom: 42px;
    }
  }

  .additionally__item {
    margin-bottom: 23px;
    position: relative;
  }

  .additionally__label::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      left: -37px;
    }
  }

  .additionally__input:checked + label::after {
    content: url("../img/check.svg");
    position: absolute;
    width: 30px;
    height: 30px;
    left: -17px;

    @media (min-width: $tablet-width) {
      left: -25px;
    }
  }
}
