.button {
  font-family: inherit;
  border: none;
  color: $white;
  background-color: $accent-green;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 18px;
  text-align: center;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    line-height: 0px;
  }
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba($white, 0.3);
}
