.cat-info {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 38px;
  position: relative;
  padding-bottom: 9px;

  &::after {
    content: "";
    background-color: #d9d9d9;
    height: 1px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 66px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
  }
}

.cat-info__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.cat-info__input {
  margin-left: 12px;
  padding: 7px 15px;
  height: 46px;
  border: 1px solid #e7e7e7;
  background-color: $white;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    box-shadow: 0 0 0 1px #444444 inset;
  }

  @media (min-width: $tablet-width) {
    margin-left: 19px;
    height: 52px;
  }
}

.cat-info__input--invalid {
  border-color: #ff8282;
  box-shadow: 0 0 0 1px #ff8282 inset;
}

.cat-info__label > input {
  flex-grow: 1;
  width: 50px;
}

.cat-info__input::placeholder {
  color: #444444;
  opacity: 1;
}
