.catalog {
  @include wrapper;
  // перенести его из за линий
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  padding-top: 19px;
  padding-bottom: 25px;
  // border-top: 1px solid #ebebeb;
  margin: 0 auto;
  position: relative;


  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    width: 324px;
    margin: 0 auto;
    margin-bottom: 59px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 63px;
  }
}

.catalog__item::before {
  content: "";
  background-color: red;
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__name {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: $dark-gray;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 34px;
    line-height: 24px;
    font-size: 20px;
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
  }
}

.catalog__subname {
  color: $ligth-black;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog__table {
  color: $dark-gray-text;
  font-size: 12px;
  line-height: 16px;
  font-family: $base-font;
  font-weight: 400;
  margin-top: 14px;
  width: 141px;
  border-collapse: collapse;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 33px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 173px;
  }
}

.catalog__table td:nth-child(1n) {
  text-align: left;
}

.catalog__table td:nth-child(2n) {
  text-align: right;
}

.catalog__table td {
  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__button {
  padding: 20px 109px 20px 109px;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 10px 93px 10px 93px;
    margin-left: 39px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 53px 10px 53px;
  }
}


.catalog__center {
  text-align: center;
  display: flex;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.another-version {
  background-color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.catalog__another-subtitle {
  width: auto;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    width: 167px;
  }
}
