.catalog {
  @include wrapper;
}

.catalog__main-title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-top: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.catalog__item {
  position: relative;
  padding-top: 21px;
  padding-bottom: 22px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
    width: 324px;
    margin: 0 auto;
    margin-bottom: 59px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 63px;
  }
}

.catalog__item::before {
  content: "";
  background-color: #ebebeb;
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__name {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: $dark-gray;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 34px;
    line-height: 24px;
    font-size: 20px;
    width: 140px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
  }
}

.catalog__subname {
  color: $ligth-black;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;

  &::before {
    content: url("../img/icon-plus-mobile.svg");
    display: block;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog__table {
  color: $dark-gray-text;
  font-size: 12px;
  line-height: 16px;
  font-family: $base-font;
  font-weight: 400;
  margin-top: 13px;
  width: 141px;
  border-collapse: collapse;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 33px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 173px;
  }
}

.catalog__table tr {
  line-height: 14px;
}

.catalog__table td:nth-child(1n) {
  text-align: left;
}

.catalog__table td:nth-child(2n) {
  text-align: right;
}

.catalog__table td {
  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__button {
  display: block;
  height: 40px;
  width: 280px;
  padding: 11px 10px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 0;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    // font-size: 16px;
    margin-left: 39px;
    margin-right: 37px;
    width: 248px;
    height: 39px;
    padding: 20px 30px;
    margin-top: 0;
    margin-bottom: 18px;
    letter-spacing: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
    padding: 18px 1px;
  }
}


.catalog__center {
  text-align: center;
  display: flex;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.another-version {
  background-color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}

.catalog__another-subtitle {
  width: auto;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    width: 167px;
  }
}

.catalog__img img {
  padding: 0;
  margin: 0;
  // откуда берется это и  картинка сплющивается
  //  если указывать размер макета
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    margin-top: -69px;
  }
}

.catalog__img img:nth-child(2n) {
  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }
}
