.copyright__logo-html {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  opacity: 0.3;
  font-family: Arial,  sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: -18px;
    width: 163px;
    opacity: 1;
  }
}

.copyright__logo-html svg path {
  fill: #444444;
  opacity: 0.3;
  width: 27px;
  height: 34px;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }
}
