.copyright__logo-html {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  opacity: 0.3;
  font-family: $base-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;

  &:hover svg path {
    fill: $accent-green;
  }

  &:active,
  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    margin-top: -18px;
    width: 163px;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: -14px;
    margin-right: 22px;
  }
}

.copyright__logo-html svg path {
  fill: #444444;
  opacity: 0.3;
  width: 27px;
  height: 34px;

  @media (min-width: $tablet-width) {
    opacity: 1;
  }
}
