.desk-group {
  color: $dark-gray-text;
  line-height: 18px;
  font-family: $base-font;
  font-size: 14px;
  // position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
