.example {
  background: #eaeaea;
}

.example__wrapper {
  @include wrapper;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__block {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__block-flex {
  @media (min-width: $mobile-width-only) {
    display: flex;
  }
}

.example__value {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif, $base-font;
}

.example__value span {
  color: $dark-gray-text;
  text-transform: lowercase;
  line-height: 12px;
  font-size: 12px;
  font-family: $base-font;
}

.example__subtitle {
  text-transform: uppercase;
}

.example__game--buttons {
  display: flex;
}

.example__game-button {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif, $base-font;
  font-size: 16px;
  align-items: center;
  outline: none;
  border: none;
  background: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
  }
}
