.example {
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    background: #ffffff;
    border-top: 1px solid #e6e6e6;
    // padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.example__wrapper {
  @include wrapper;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__block {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__block-flex {
  @media (min-width: $mobile-width-only) {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.example__block-flex p {
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value {
  position: relative;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif, $base-font;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin: 0;
  margin-top: 10px;
  padding: 15px;
  flex-grow: 1;
  width: 124px;

  &:first-child {
    margin-right: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-top: 0px;


  &:first-child {
    margin-right: 42px;
    }
  }
}

.example__value span {
  color: $dark-gray-text;
  text-transform: lowercase;
  line-height: 13px;
  font-size: 12px;
  font-family: $base-font;
  position: absolute;
  top: calc(100% - 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #eaeaea;
  padding-left: 14px;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    white-space: nowrap;
    background-color: $white;
  }
}

// .example__value--kg {
//   margin-top: 10px;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   padding-left: 40px;
//   padding-right: 41px;

//   @media (min-width: $tablet-width) {
//     margin-top: 0;
//     padding-top: 10px;
//     padding-bottom: -22px;
//     padding-left: 56px;
//     padding-right: 56px;
//   }

//   @media (min-width: $desktop-width) {
//     padding-top: 15px;
//     padding-bottom: 20px;
//   }
// }

// .example__value--kg span {
//   padding-top: 7px;
//   margin-left: -20px;
//   width: 80px;
//   text-align: center;
//   background-color: #eaeaea;
//   padding-left: 5px;
//   padding-right: 5px;

//   @media (min-width: $tablet-width) {
//     background-color: white;
//     margin-top: 8px;
//     margin-left: -40px;
//     padding-left: 5px;
//     padding-right: 5px;
//     width: 130px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 120px;
//     margin-left: -35px;
//     margin-top: 4px;
//   }
// }

// .example__value--day {
//   margin-top: 10px;
//   margin-left: 33px;
//   padding-left: 22px;
//   padding-top: 15px;
//   padding-right: 20px;
//   padding-bottom: 10px;

//   @media (min-width: $tablet-width) {
//     margin-top: 0;
//     margin-left: 43px;
//     padding-top: 12px;
//     padding-left: 30px;
//     padding-right: 27px;
//   }

//   @media (min-width: $desktop-width) {
//     padding-top: 16px;
//     padding-left: 29px;
//   }
// }

// .example__value--day span {
//   background-color: #eaeaea;
//   width: 80px;
//   padding-top: 7px;

//   @media (min-width: $tablet-width) {
//     background-color: #ffffff;
//     width: 140px;
//     padding-top: 13px;
//     margin-left: -20px;
//   }

//   @media (min-width: $desktop-width) {
//     padding-top: 10px;
//   }
// }

.example__title {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 76px;
  }
}

.example__desc {
  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    width: 51%;
  }
}

.example__subtitle {
  text-transform: uppercase;
  margin-top: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 190px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    right: 0;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    display: flex;
    width: 326px;
    // ничего лучше не придумала(
    justify-content: space-between;
  }
}

.example__game--buttons {
  display: flex;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 81px;
  }
}

.example__game-button {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif, $base-font;
  font-size: 16px;
  align-items: center;
  outline: none;
  border: none;
  background: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 630px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 656px;
  }
}
