.form-box {
  @include wrapper;
}

.form-box fieldset {
  border: none;
}

.form-box__grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 75px;
  }
}

.form-box__sub {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 35px;
  }
}
