.form-note {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.form-note__note {
  font-size: 14px;
  line-height: 18px;
  font-family: $base-font;
  margin-top: 22px;
  margin-left: 63px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 18px;
    margin-left: 81px;
  }
}

.form-note__button {
  width: 280px;
  height: 40px;
  padding: 7px 44px 7px 44px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    height: 52px;
    opacity: 0.5;
  }
}
