.game {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.game__img {
  width: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: -38px;

  img {
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 690px;
      height: 517px;
      flex-shrink: 0;
      max-width: none;
    }
  }
}

.game__buttons {
  padding-bottom: 28px;
  margin-top: 29px;
  margin-left: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}


.game__img--after {
  width: 0%;

  @media (min-width: $tablet-width) {
    width: 50%;
    justify-content: end;
  }

  img {
    margin-right: 17px;

    @media (min-width: $desktop-width) {
      margin-right: 43px;
    }
  }
}

.game__img--before {
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: start;
    width: 46%;
    min-width: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}
