.how-it-works__list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}
