.how-it-works {
  @include wrapper;
}

.how-it-works__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 18px;
}

.how-it-works__item {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    height: 280px;
}

  &:last-child {
    margin-bottom: 42px;
  }
}
