.main-nav__button {
  position: relative;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  color: $black;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
    width: auto;
  }
}

.main-nav__item {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    font-weight: 300;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 36px;
    letter-spacing: 0;

    &:nth-child(1) {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
  }
}

.main-nav__link {
  color: black;
  text-decoration: none;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}


.main-nav__link--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $accent-green;
    padding-bottom: 5px;
  }
}

.main-nav--index .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.main-nav--index .main-nav__link--active {
  @media (min-width: $desktop-width) {
    padding-bottom: 1px;
    border-bottom: 2px solid $white;
  }
}

.main-nav--closed .page-header__button::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  width: 24px;
  height: 1px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .page-header__button:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade($black, 30%),
    0 16px 0 0 fade($black, 30%);
}

.main-nav--opened {
  top: 15;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 430px;
    width: 18px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
