.main-promo {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
  }
}

.main-promo__box {
  @include wrapper;

  @media (min-width: $tablet-width) {
    padding-left: 84px;
  }
}

.main-promo__title {
  font-size: 36px;
  color: $white;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  margin: 0;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    width: 450px;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.main-promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-top: 25px;
  }
}

.main-promo__img {
  @media (min-width: $tablet-width) {
    // position: absolute;
    width: 709px;
    height: 609px;
    top: 130px;
    z-index: -1;
    // тут сложно)) конпку может спозиционировать абсолютно, // или картинку?
  }
}

.main-promo__button {
  display: block;
  width: 280px;
  height: 40px;
  padding: 10px 15px 10px 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
    width: 244px;
    height: 54px;
    padding: 26px 26px 14px 26px;
  }
}
