.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    width: 1220px;
  }
}

.page-header__box {
  display: flex;
  padding-bottom: 13px;
  padding-top: 10px;
  width: 280px;
  margin: 0 auto;
  justify-content: space-between;

  &::after {
    content: "";
    background-color: #e6e6e6;
    height: 1px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 63px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: auto;
    margin: 0;
  }
}

.page-header__logo img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    width: 202px;
    margin-top: 0;
  }
}

.page-header__button {
  position: relative;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
