.page-footer__map iframe {
  width: 100%;
  height: 362px;
  border: 0;
  position: relative;
  z-index: 0;
}

.page-footer__contact-info {
  @include wrapper;
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: $white;
    top: 1100px;
    left: 110px;
    z-index: 3;
    padding-left: 74px;
    padding-right: 74px;
    // как отпозиционировать относительноно iframe?
  }
}

.page-footer__invitation {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $ligth-black;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 171px;
    min-height: 84px;
    padding-top: 67px;
    padding-bottom: 52px;
  }
}

.page-footer__address {
  font-family: $base-font;
  color: $dark-gray-text;
  font-size: 14px;
  line-height: 20px;
  padding-top: 28px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 159px;
    min-height: 80px;
    text-align: right;
    padding-top: 63px;
    padding-bottom: 59px;
  }
}

.page-footer__address span {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.page-footer__box {
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 150px;
  }
}

.page-footer__wrapper {
  @include wrapper;
}
