.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    width: 1220px;
  }
}

.page-header__box {
  display: flex;
  padding-bottom: 13px;
  padding-top: 10px;
  width: 280px;
  margin: 0 auto;
  justify-content: space-between;

  &::after {
    content: "";
    background-color: #e6e6e6;
    height: 1px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 63px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: auto;
    margin: 0;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo img {
  @media (min-width: $tablet-width) {
    margin-top: -4px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    width: 202px;
    margin-top: 0;
  }
}

.page-header__button {
  position: relative;
  background-color: transparent;
  display: none;
  border: none;
  width: 40px;
  height: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__button--close {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__button--close::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 24px;
  height: 1px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__button--open {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 22px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
