.page-footer__contact-info {
  @include wrapper;
}

.page-footer__invitation {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $ligth-black;
}

.page-footer__address {
  font-family: $base-font;
  color: $dark-gray-text;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__box {
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 150px;
  }
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__map iframe {
  width: 100%;
  height: 362px;
  border: 0;
}
