.purpose {
  @include wrapper;
}

.purpose__list {
  background-color: $basic-grey;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.purpose__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.purpose__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}
