.social {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    margin-right: 53px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.social li {
  margin: 0 7px;

  @media (min-width: $tablet-width) {
    margin: 0 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 4px;
  }
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
  }
}

.social__link svg {
  width: 23px;
  height: 16px;
  fill: black;

  &:hover {
    fill: $accent-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 24px;
  }
}
