.social__list {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  // align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    // margin-left: 10px;
    margin-right: 53px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.social__list li {
  margin: 0 7px;
  // justify-content: center;
  // margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin: 0 3px;
    // margin-left: 15px;
    // margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20px;
  }
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
    // margin-left: 10px;
  }
}

.social__link--vk::before {
  display: block;
  content: url("../img/icon-vk.svg");
  width: 23px;
  height: 16px;
  // margin-left: 20px;


  @media (min-width: $tablet-width) {
    width: 29px;
    height: 24px;
    margin-top: 13px;
    margin-left: -16px;
  }
}

.social__link--inst::before {
  display: block;
  content: url("../img/icon-insta.svg");
  width: 16px;
  height: 16px;
  // margin-left: 10px;

  @media (min-width: $tablet-width) {
    width: 22px;
  }
}

.social__link--fb::before {
  display: block;
  content: url("../img/icon-fb.svg");
  width: 10px;
  height: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    width: 12px;
    height: 25px;
    // размер
  }
}
