.social__list {
  list-style: none;
  display: flex;
}

.social__link--vk::before {
  display: block;
  content: url("../img/icon-vk.svg");
  width: 23px;
  height: 16px;
}

.social__link--inst::before {
  display: block;
  content: url("../img/icon-insta.svg");
  width: 16px;
  height: 16px;
}

.social__link--fb::before {
  display: block;
  content: url("../img/icon-fb.svg");
  width: 15px;
  height: 18px;
}
