img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: #000000;
}
.title-group{
  color: $black;
  text-align: center;
  font-size:36px;
}
.desk-group{
  color: $dark-gray-text;
  line-height: 18px;
  font-family: Arial;
  font-size: 14px;
}
.button{
  color: $white;
  background-color: $accent-green;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 14px 26px 14px 26px;
}
.button:hover{
 background-color: #5EAA2F;
}
.button:active{
 color: rgba(255,255,255, 0.3)

}
