// Colors
$black:#000000;
$white: #FFFFFF;
$dark-gray-text:#444444;
$basic-grey: #F2F2F2;
$dark-gray: #222222;
$ligth-black:#111111;
$accent-green: #68B738;

// Viewports
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Fonts
$safe-font: Arial, sens-serif;
