// Colors
$black:#000000;
$white: #ffffff;
$dark-gray-text:#444444;
$basic-grey: #f2f2f2;
$dark-gray: #222222;
$ligth-black:#111111;
$accent-green: #68b738;

// Viewports
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Fonts
$base-font: "Arial", sens-serif;
